# Bài làm thêm 1 - Numpy

In [10]:
import numpy as np

In [13]:
#1. Tạo mảng ngẫu nhiên 10 phần tử số nguyên từ 10-29
np.random.seed(2)
arr = np.random.randint(10,29, 10)

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>array([18, 25, 23, 18, 21, 28, 21, 18, 17, 12])
</pre>

</details>

In [15]:
#2. Cho iết kiểu dữ liệu các phần tử của arr1
arr.dtype

dtype('int64')

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>dtype('int32')
</pre>

</details>

In [ ]:
#3. Cho biết dung lượng bộ nhớ của mảng arr1

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>40
</pre>

</details>

In [ ]:
#4. Tạo mảng arr2 là mảng arr1 nhưng có các giá trị chia hết cho 3 được thay bằng -1

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>array([-1, 25, 23, -1, -1, 28, -1, -1, 17, -1])
</pre>

</details>

In [ ]:
#5. Phát sinh mảng arr3 ngẫu nhiên 10 phần tử số nguyên từ 15-35
np.random.seed(3)

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>array([25, 18, 23, 15, 34, 25, 26, 24, 25, 21])
</pre>

</details>

In [ ]:
#6.  Liệt kê ra các phần tử giống nhau trong arr1 và arr3

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>array([23])
</pre>

</details>

In [ ]:
#7. Tạo mảng arr4 là mảng arr1 nhưng có 2 dòng, 5 cột

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>array([[18, 25, 23, 18, 21],
       [28, 21, 18, 17, 12]])
</pre>

</details>

In [ ]:
#8. Hoán đổi 2 dòng của mảng arr4

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>array([[28, 21, 18, 17, 12],
       [18, 25, 23, 18, 21]])
</pre>

</details>

In [ ]:
#8. Hoán đổi cột 1 và cột 3 của mảng arr4

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>Trước khi hoán đổi: 
 [[18 25 23 18 21]
 [28 21 18 17 12]]
Sau khi hoán đổi: 
 [[23 25 18 18 21]
 [18 21 28 17 12]]
</pre>

</details>

In [ ]:
#9. Tạo mảng arr5 kích thước 8x8 với giá trị bên trong là 0 và các giá trị biên là 1

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>[[1 1 1 1 1 1 1]
 [1 0 0 0 0 0 1]
 [1 0 0 0 0 0 1]
 [1 0 0 0 0 0 1]
 [1 0 0 0 0 0 1]
 [1 0 0 0 0 0 1]
 [1 1 1 1 1 1 1]]
</pre>

</details>

In [ ]:
#10. Cộng thêm 3 vào các phần tử của mảng arr5

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>array([[4, 4, 4, 4, 4, 4, 4],
       [4, 3, 3, 3, 3, 3, 4],
       [4, 3, 3, 3, 3, 3, 4],
       [4, 3, 3, 3, 3, 3, 4],
       [4, 3, 3, 3, 3, 3, 4],
       [4, 3, 3, 3, 3, 3, 4],
       [4, 4, 4, 4, 4, 4, 4]])
</pre>

</details>

In [ ]:
#11. Tạo mảng arr6 là mảng 1 chiều của mảng arr5

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>array([4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3, 3, 4, 4,
       3, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3, 3, 4, 4, 4,
       4, 4, 4, 4, 4])
</pre>

</details>

In [ ]:
#12. Tạo mảng arr7 là 5 phần tử ngẫu nhiên từ arr3
np.random.seed(8)

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>array([15, 34, 18, 21, 25])
</pre>

</details>

#### Part 2 - Đọc dữ liệu và tính toán thống kê

In [ ]:
#1. Đọc dữ liệu từ tập tin shark.tsv (dữ liệu số vụ cá mập tấn công các tháng của 3 quốc gia USA,Australia,South Africa)
# và đưa vào mảng shark (Gợi ý: sử dụng hàm np.genfromtxt)

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>array([[ -1,  28,  94,  68],
       [ -1,  27,  78,  32],
       [ -1,  66,  63,  34],
       [ -1, 103,  54,  25],
       [ -1, 106,  21,  25],
       [ -1, 173,  25,  22],
       [ -1, 232,  25,  28],
       [ -1, 208,  28,  15],
       [ -1, 182,  35,  17],
       [ -1, 141,  56,  16],
       [ -1,  79,  65,  20],
       [ -1,  37,  94,  46]])
</pre>

</details>

In [ ]:
#2. Cho biết số phần tử mỗi chiều của mảng

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>(12, 4)
</pre>

</details>

In [ ]:
#3. Thay cột 1 (giá trị -1) bằng giá trị tương ứng các tháng trong năm 1-12

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>array([[  1,  28,  94,  68],
       [  2,  27,  78,  32],
       [  3,  66,  63,  34],
       [  4, 103,  54,  25],
       [  5, 106,  21,  25],
       [  6, 173,  25,  22],
       [  7, 232,  25,  28],
       [  8, 208,  28,  15],
       [  9, 182,  35,  17],
       [ 10, 141,  56,  16],
       [ 11,  79,  65,  20],
       [ 12,  37,  94,  46]])
</pre>

</details>

In [ ]:
#4. Hiển thị số vụ cá mập tấn công trung bình của 3 quốc gia

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>array([115.16666667,  53.16666667,  29.        ])
</pre>

</details>

In [ ]:
#5. Hiển thị số vụ cá mập tấn công trung bình của mỗi tháng

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>array([63.33333333, 45.66666667, 54.33333333, 60.66666667, 50.66666667,
       73.33333333, 95.        , 83.66666667, 78.        , 71.        ,
       54.66666667, 59.        ])
</pre>

</details>

In [ ]:
#6. Tạo thêm cột tổng số vụ cá mập tấn công theo mỗi tháng

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>array([[  1,  28,  94,  68, 190],
       [  2,  27,  78,  32, 137],
       [  3,  66,  63,  34, 163],
       [  4, 103,  54,  25, 182],
       [  5, 106,  21,  25, 152],
       [  6, 173,  25,  22, 220],
       [  7, 232,  25,  28, 285],
       [  8, 208,  28,  15, 251],
       [  9, 182,  35,  17, 234],
       [ 10, 141,  56,  16, 213],
       [ 11,  79,  65,  20, 164],
       [ 12,  37,  94,  46, 177]])
</pre>

</details>

In [ ]:
#7. Cho biết những tháng có tổng số vụ cá mập tấn công >200

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>array([[  6, 173,  25,  22, 220],
       [  7, 232,  25,  28, 285],
       [  8, 208,  28,  15, 251],
       [  9, 182,  35,  17, 234],
       [ 10, 141,  56,  16, 213]])
</pre>

</details>

In [ ]:
#8. Cho biết tổng số vụ cá mập tấn công nhiều nhất trong tháng là bao nhiêu

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>285
</pre>

</details>

In [ ]:
#9. Cho biết tháng nào có tổng số vụ cá mập tấn công nhiều nhất

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
  
  <pre>Tháng có tổng số vụ cá mập tấn công nhiều nhất là tháng : 7
</pre>

</details>

In [19]:
arr2 = np.ones((2,3), dtype = 'float')
arr2

array([[1., 1., 1.],
       [1., 1., 1.]])

In [25]:
#arange
np.arange(0,20,3)

array([ 0,  3,  6,  9, 12, 15, 18])

In [21]:
# full
np.full((2,3), 10, dtype = 'i2')

array([[10, 10, 10],
       [10, 10, 10]], dtype=int16)

In [23]:
# linspace
np.linspace(0,2,10)

array([0.        , 0.22222222, 0.44444444, 0.66666667, 0.88888889,
       1.11111111, 1.33333333, 1.55555556, 1.77777778, 2.        ])

In [30]:
#random seed
np.random.seed(2)
# random
np.random.random((4,5))

array([[0.4359949 , 0.02592623, 0.54966248, 0.43532239, 0.4203678 ],
       [0.33033482, 0.20464863, 0.61927097, 0.29965467, 0.26682728],
       [0.62113383, 0.52914209, 0.13457995, 0.51357812, 0.18443987],
       [0.78533515, 0.85397529, 0.49423684, 0.84656149, 0.07964548]])

In [33]:
np.random.normal(0,1,(3,3)) # mean = 0, std = 1, space (3,3)

array([[ 5.01857207e-01, -8.44213704e-01,  9.76147160e-06],
       [ 5.42352572e-01, -3.13508197e-01,  7.71011738e-01],
       [-1.86809065e+00,  1.73118467e+00,  1.46767801e+00]])

In [36]:
np.random.randint(0,10, (4,5)) # int from 0 to 10, shape(4,5)

array([[0, 8, 5, 4, 2],
       [9, 7, 1, 9, 2],
       [1, 0, 7, 1, 8],
       [9, 0, 7, 0, 5]])

In [39]:
np.random.rand(4,4)

array([[0.38697123, 0.8362492 , 0.60176372, 0.91201878],
       [0.48405357, 0.95851407, 0.57670966, 0.0277443 ],
       [0.73887085, 0.8614008 , 0.09855001, 0.96344304],
       [0.56342604, 0.74070191, 0.22400132, 0.9411825 ]])

In [63]:
#  One dimensional subarray
np.random.seed(5)
arr1 = np.random.randint(20, size = 6)
arr1

array([ 3, 14, 15,  6, 16,  9])

In [49]:
arr1[4], arr1[0], arr1[-2]

(16, 3, 16)

In [52]:
#  Two dimensional subarray
np.random.seed(5)
arr2 = np.random.randint(20, size = (3,4))
arr2

array([[ 3, 14, 15,  6],
       [16,  9,  8,  4],
       [ 7, 16, 16,  7]])

In [60]:
arr2[2,3] = 10
arr2

array([[ 3, 14, 15,  6],
       [16,  9,  8,  4],
       [ 7, 16, 16, 10]])

# Slicing
 x[start:stop:step]

In [71]:
# 1-D array
arr1

array([ 3, 14, 15,  6, 16,  9])

In [72]:
arr1[0:3]

array([ 3, 14, 15])

In [73]:
arr1[2:4]

array([15,  6])

In [74]:
arr1[::2]

array([ 3, 15, 16])

In [75]:
# 2-D array
arr2

array([[ 3, 14, 15,  6],
       [16,  9,  8,  4],
       [ 7, 16, 16, 10]])

In [79]:
#two rows three columns
arr2[:2,:]

array([[ 3, 14, 15,  6],
       [16,  9,  8,  4]])

# Reshape of Array & Transpose

In [81]:
grid = np.arange(1,10)
grid.shape

(9,)

In [82]:
grid.reshape((3,3))

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [89]:
x = np.array([1,2,3])
x.shape

(3,)

In [92]:
x = np.array([[1,2],[3,4]])
x

array([[1, 2],
       [3, 4]])

In [93]:
x.T

array([[1, 3],
       [2, 4]])

In [94]:
# array concatenation and splitting

In [95]:
x= np.array([1,3,5])
y = np.array([2,4,6])

In [106]:
np.concatenate((x,y), axis = 0) # asix = 0 by default

array([1, 3, 5, 2, 4, 6])

In [107]:
grid=np.random.rand(2,3)
grid

array([[0.08074127, 0.7384403 , 0.44130922],
       [0.15830987, 0.87993703, 0.27408646]])

In [108]:
np.concatenate((grid,grid), axis =1)

array([[0.08074127, 0.7384403 , 0.44130922, 0.08074127, 0.7384403 ,
        0.44130922],
       [0.15830987, 0.87993703, 0.27408646, 0.15830987, 0.87993703,
        0.27408646]])