In [198]:
# Import thư viện
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
# import warnings
# warnings.filterwarnings('ignore')

In [199]:
df = pd.read_excel('Diemthi_thpt_quocgia_2016.xlsx')

In [200]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34826 entries, 0 to 34825
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SOBAODANH   34826 non-null  object
 1   HO_TEN      34826 non-null  object
 2   NGAY_SINH   34826 non-null  object
 3   TEN_CUMTHI  34826 non-null  object
 4   GIOI_TINH   34826 non-null  object
 5   DIEM_THI    34826 non-null  object
dtypes: object(6)
memory usage: 1.6+ MB

In [201]:
df.shape

(34826, 6)

In [202]:
df.describe()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI
count,34826,34826,34826,34826,34826,34826
unique,34826,23763,2040,4,2,33945
top,HUI013441,NGUYỄN THỊ HẰNG,01/01/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Ngữ văn: 6.00
freq,1,58,225,14410,17833,5

In [216]:
df.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI
0,018000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....
1,018000002,ĐỖ VĂN AN,09/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...
2,018000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...
3,018000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...
4,018000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...

In [228]:
df1 = df.copy()
df1

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI
0,018000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....
1,018000002,ĐỖ VĂN AN,09/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...
2,018000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...
3,018000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...
4,018000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...
...,...,...,...,...,...,...
34821,HUI014539,VÒNG NGỌC YẾN,15/05/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 0.75 Ngữ văn: 5.00 Hóa học: 4....
34822,HUI014540,VÒNG THANH YẾN,09/09/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 4.75 Ngữ văn: 5.75 Vật lí: 6.8...
34823,HUI014541,VŨ THỊ BẢO YẾN,19/05/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 4.00 Ngữ văn: 5.50 Vật lí: 5.6...
34824,HUI014542,VŨ THỊ YẾN,13/01/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 5.75 Ngữ văn: 6.00 Vật lí: 7.4...
34825,HUI014543,VƯƠNG THỊ YẾN,05/02/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 2.50 Ngữ văn: 4.25 Vật lí: 4.2...

## SỬ DỤNG KỸ THUÂT TÁCH CHUỖI - SPLIT

In [251]:
diemthi = df1.loc[0, 'DIEM_THI']
diemthi

'Toán:   2.00   Ngữ văn:   5.50   Lịch sử:   3.00   Địa lí:   5.00'

In [252]:
# Toán:   2.00   Ngữ văn:   5.50   Lịch sử:   3.00   Địa lí:   5.00
lst_diemthi = diemthi.replace(':', '').split('   ')
lst_diemthi

['Toán', '2.00', 'Ngữ văn', '5.50', 'Lịch sử', '3.00', 'Địa lí', '5.00']

In [253]:
# lst_mon = ['Toán', 'Ngữ văn', 'Địa lí', 'Lịch sử', 'Tiếng Anh', 'Sinh học', 'Vật lí', 'Hóa học']

In [256]:
def vi_tri_diem_mon_hoc( lst_mon, lst_diemthi):
    if lst_mon in lst_diemthi:
        vitrimon = lst_diemthi.index(lst_mon)
        diem = lst_diemthi[vitrimon + 1]
        return round(float(diem),2)
    else:
        return np.nan

In [259]:
vi_tri_diem_mon_hoc('Tiếng Lào',lst_diemthi)

nan

In [262]:
df1['DS DIEM THI'] = df1['DIEM_THI'].str.replace(':','').str.split("   ")
df1.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI,DS DIEM THI
0,018000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....,"[Toán, 2.00, Ngữ văn, 5.50, Lịch sử, 3.00, Địa..."
1,018000002,ĐỖ VĂN AN,09/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...,"[Toán, 5.50, Ngữ văn, 5.25, Địa lí, 5.50, Tiến..."
2,018000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...,"[Toán, 4.50, Ngữ văn, 5.50, Địa lí, 3.75, Tiến..."
3,018000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...,"[Toán, 3.00, Ngữ văn, 6.00, Địa lí, 5.50, Tiến..."
4,018000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...,"[Toán, 2.25, Ngữ văn, 4.75, Địa lí, 5.25, Tiến..."

In [265]:
df1['DS2 DIEM THI'] = df1['DIEM_THI'].apply(lambda x: x.replace(':','').split("   "))
df1.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI,DS DIEM THI,DS2 DIEM THI
0,018000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....,"[Toán, 2.00, Ngữ văn, 5.50, Lịch sử, 3.00, Địa...","[Toán, 2.00, Ngữ văn, 5.50, Lịch sử, 3.00, Địa..."
1,018000002,ĐỖ VĂN AN,09/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...,"[Toán, 5.50, Ngữ văn, 5.25, Địa lí, 5.50, Tiến...","[Toán, 5.50, Ngữ văn, 5.25, Địa lí, 5.50, Tiến..."
2,018000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...,"[Toán, 4.50, Ngữ văn, 5.50, Địa lí, 3.75, Tiến...","[Toán, 4.50, Ngữ văn, 5.50, Địa lí, 3.75, Tiến..."
3,018000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...,"[Toán, 3.00, Ngữ văn, 6.00, Địa lí, 5.50, Tiến...","[Toán, 3.00, Ngữ văn, 6.00, Địa lí, 5.50, Tiến..."
4,018000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...,"[Toán, 2.25, Ngữ văn, 4.75, Địa lí, 5.25, Tiến...","[Toán, 2.25, Ngữ văn, 4.75, Địa lí, 5.25, Tiến..."

In [266]:
for mon in lst_mon:
    df1[mon] = df1['DS2 DIEM THI'].apply(lambda x: vi_tri_diem_mon_hoc(mon, x))

In [268]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34826 entries, 0 to 34825
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SOBAODANH     34826 non-null  object
 1   HO_TEN        34826 non-null  object
 2   NGAY_SINH     34826 non-null  object
 3   TEN_CUMTHI    34826 non-null  object
 4   GIOI_TINH     34826 non-null  object
 5   DIEM_THI      34826 non-null  object
 6   DS DIEM THI   34826 non-null  object
 7   DS2 DIEM THI  34826 non-null  object
 8   Toán          34500 non-null  float64
 9   Ngữ văn       33894 non-null  float64
 10  Địa lí        22171 non-null  float64
 11  Lịch sử       3235 non-null   float64
 12  Tiếng Anh     30200 non-null  float64
 13  Sinh học      3571 non-null   float64
 14  Vật lí        10157 non-null  float64
 15  Hóa học       8097 non-null   float64
dtypes: float64(8), object(8)
memory usage: 4.3+ MB

In [267]:
df1.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI,DS DIEM THI,DS2 DIEM THI,Toán,Ngữ văn,Địa lí,Lịch sử,Tiếng Anh,Sinh học,Vật lí,Hóa học
0,018000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....,"[Toán, 2.00, Ngữ văn, 5.50, Lịch sử, 3.00, Địa...","[Toán, 2.00, Ngữ văn, 5.50, Lịch sử, 3.00, Địa...",2.00,5.50,5.00,3.0,NaN,NaN,NaN,NaN
1,018000002,ĐỖ VĂN AN,09/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...,"[Toán, 5.50, Ngữ văn, 5.25, Địa lí, 5.50, Tiến...","[Toán, 5.50, Ngữ văn, 5.25, Địa lí, 5.50, Tiến...",5.50,5.25,5.50,NaN,3.68,NaN,NaN,NaN
2,018000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...,"[Toán, 4.50, Ngữ văn, 5.50, Địa lí, 3.75, Tiến...","[Toán, 4.50, Ngữ văn, 5.50, Địa lí, 3.75, Tiến...",4.50,5.50,3.75,NaN,2.25,NaN,NaN,NaN
3,018000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...,"[Toán, 3.00, Ngữ văn, 6.00, Địa lí, 5.50, Tiến...","[Toán, 3.00, Ngữ văn, 6.00, Địa lí, 5.50, Tiến...",3.00,6.00,5.50,NaN,1.50,NaN,NaN,NaN
4,018000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...,"[Toán, 2.25, Ngữ văn, 4.75, Địa lí, 5.25, Tiến...","[Toán, 2.25, Ngữ văn, 4.75, Địa lí, 5.25, Tiến...",2.25,4.75,5.25,NaN,2.00,NaN,NaN,NaN

## SỬ DỤNG REGULAR EXPRESSION

In [310]:
df2 = df.copy()
df2.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI
0,018000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....
1,018000002,ĐỖ VĂN AN,09/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...
2,018000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...
3,018000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...
4,018000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...

In [311]:
lst_mon = ['Toán', 'Ngữ văn', 'Địa lí', 'Lịch sử', 'Tiếng Anh', 'Sinh học', 'Vật lí', 'Hóa học']

In [317]:
# ReEx có parten dang: Toán:\s{3}\d+\.\d{2}
for tenmon in lst_mon:
    df2[tenmon] = df2['DIEM_THI'].str.extract('(' + tenmon + ':\s{3}\d+.\d{2})', expand = True)[0].str.split(":   ", expand = True)[1]

In [318]:
df2.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI,Toán,Ngữ văn,Địa lí,Lịch sử,Tiếng Anh,Sinh học,Vật lí,Hóa học
0,018000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....,2.00,5.50,5.00,3.00,NaN,NaN,NaN,NaN
1,018000002,ĐỖ VĂN AN,09/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...,5.50,5.25,5.50,NaN,3.68,NaN,NaN,NaN
2,018000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...,4.50,5.50,3.75,NaN,2.25,NaN,NaN,NaN
3,018000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...,3.00,6.00,5.50,NaN,1.50,NaN,NaN,NaN
4,018000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...,2.25,4.75,5.25,NaN,2.00,NaN,NaN,NaN

In [324]:
df2.drop('DIEM_THI', axis =1)

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,Toán,Ngữ văn,Địa lí,Lịch sử,Tiếng Anh,Sinh học,Vật lí,Hóa học
0,018000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,2.00,5.50,5.00,3.00,NaN,NaN,NaN,NaN
1,018000002,ĐỖ VĂN AN,09/12/1998,Sở GDĐT Bắc Giang,Nam,5.50,5.25,5.50,NaN,3.68,NaN,NaN,NaN
2,018000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,4.50,5.50,3.75,NaN,2.25,NaN,NaN,NaN
3,018000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,3.00,6.00,5.50,NaN,1.50,NaN,NaN,NaN
4,018000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,2.25,4.75,5.25,NaN,2.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34821,HUI014539,VÒNG NGỌC YẾN,15/05/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,0.75,5.00,NaN,NaN,NaN,5.20,NaN,4.80
34822,HUI014540,VÒNG THANH YẾN,09/09/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,4.75,5.75,NaN,NaN,3.33,4.60,6.80,4.60
34823,HUI014541,VŨ THỊ BẢO YẾN,19/05/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,4.00,5.50,NaN,NaN,3.60,NaN,5.60,NaN
34824,HUI014542,VŨ THỊ YẾN,13/01/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,5.75,6.00,NaN,NaN,2.88,NaN,7.40,4.80
34825,HUI014543,VƯƠNG THỊ YẾN,05/02/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,2.50,4.25,NaN,NaN,3.00,4.40,4.20,4.40