In [13]:
# Import thư viện

import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [18]:
df = pd.read_excel('Diemthi_thpt_quocgia_2016.xlsx')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34826 entries, 0 to 34825
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SOBAODANH   34826 non-null  object
 1   HO_TEN      34826 non-null  object
 2   NGAY_SINH   34826 non-null  object
 3   TEN_CUMTHI  34826 non-null  object
 4   GIOI_TINH   34826 non-null  object
 5   DIEM_THI    34826 non-null  object
dtypes: object(6)
memory usage: 1.6+ MB

In [20]:
df.shape

(34826, 6)

In [21]:
df.describe()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI
count,34826,34826,34826,34826,34826,34826
unique,34826,23763,2040,4,2,33945
top,HUI013441,NGUYỄN THỊ HẰNG,01/01/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Ngữ văn: 6.00
freq,1,58,225,14410,17833,5

In [22]:
df.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI
0,018000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....
1,018000002,ĐỖ VĂN AN,09/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...
2,018000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...
3,018000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...
4,018000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...

In [17]:
diemthi[['Toan','Ngu Van']] = diemthi['DIEM_THI'].str.split('Ngữ',expand=True)
diemthi

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI,Toan,Ngu Van
0,018000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....,Toán: 2.00,văn: 5.50 Lịch sử: 3.00 Địa lí: 5.00
1,018000002,ĐỖ VĂN AN,09/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...,Toán: 5.50,văn: 5.25 Địa lí: 5.50 Tiếng Anh: 3.68
2,018000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...,Toán: 4.50,văn: 5.50 Địa lí: 3.75 Tiếng Anh: 2.25
3,018000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...,Toán: 3.00,văn: 6.00 Địa lí: 5.50 Tiếng Anh: 1.50
4,018000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...,Toán: 2.25,văn: 4.75 Địa lí: 5.25 Tiếng Anh: 2.00
...,...,...,...,...,...,...,...,...
34821,HUI014539,VÒNG NGỌC YẾN,15/05/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 0.75 Ngữ văn: 5.00 Hóa học: 4....,Toán: 0.75,văn: 5.00 Hóa học: 4.80 Sinh học: 5.20
34822,HUI014540,VÒNG THANH YẾN,09/09/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 4.75 Ngữ văn: 5.75 Vật lí: 6.8...,Toán: 4.75,văn: 5.75 Vật lí: 6.80 Hóa học: 4.6...
34823,HUI014541,VŨ THỊ BẢO YẾN,19/05/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 4.00 Ngữ văn: 5.50 Vật lí: 5.6...,Toán: 4.00,văn: 5.50 Vật lí: 5.60 Tiếng Anh: 3.60
34824,HUI014542,VŨ THỊ YẾN,13/01/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 5.75 Ngữ văn: 6.00 Vật lí: 7.4...,Toán: 5.75,văn: 6.00 Vật lí: 7.40 Hóa học: 4.8...
34825,HUI014543,VƯƠNG THỊ YẾN,05/02/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 2.50 Ngữ văn: 4.25 Vật lí: 4.2...,Toán: 2.50,văn: 4.25 Vật lí: 4.20 Hóa học: 4.4...

## SỬ DỤNG KỸ THUÂT TÁCH CHUỖI - SPLIT

In [30]:
diemthi = df.loc[0, 'DIEM_THI']
diemthi

'Toán:   2.00   Ngữ văn:   5.50   Lịch sử:   3.00   Địa lí:   5.00'

In [39]:
# Toán:   2.00   Ngữ văn:   5.50   Lịch sử:   3.00   Địa lí:   5.00
1st_diemthi = diemthi.replace(':', '').split('  ')
1st_diemthi

SyntaxError: invalid syntax (<ipython-input-39-571c118b3f1d>, line 2)

In [32]:
vitrimon = 1st_diemthi.index('Ngữ Văn')
diem = 1st_diemthi[vitrimon +1]
diem

SyntaxError: invalid syntax (<ipython-input-32-e247baf001b0>, line 1)

In [40]:
def lay_diem_thi_theo_mon(tenmon, 1st_diem):
    if tenmon in 1st_diem:
        #tên môn có trong danh sách kết quả thi mà thí sinh dự thi
        vitrimon = 1st_diem.index(tenmon)
        diem = 1st_diem[vitrimon + 1]
        return round(float(diem),2)
    else:
        #tên môn không có danh sách mà thí sinh dự thi
        return np.nan

SyntaxError: invalid syntax (<ipython-input-40-aba06ce96600>, line 1)

In [41]:
lay_diem_thi_theo_mon('Tiếng Anh', 1st_diemthi)

SyntaxError: invalid syntax (<ipython-input-41-9f33f9200ca8>, line 1)

In [ ]:
1st_mon = ['Toán', 'Ngữ văn', 'Địa lí', 'Lịch sử', 'Tiếng Anh', 'Sinh học', 'Vật lí', 'Hóa học']